footer {
  background: white;
  padding-bottom: clamp(10px, 5vw, 50px);
  padding-top: clamp(10px, 5vw, 50px);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 0.8em;
  font-weight: 1000;
}
