@use "../../assets/variables.scss" as *;
.ourGiftContainerWrapper {
  background: white;
  padding-top: clamp(12px, 10vw, 80px);
  padding-bottom: clamp(12px, 10vw, 40px);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 100px;
  width: clamp(200px, 100vw, 1920px);
  .ourGiftContainer {
    display: flex;
    justify-content: flex-end;
    margin: auto;
    @media screen and (max-width: 900px) {
      flex-direction: column;
    }
  }
  p {
    font-weight: 400;
    font-size: 1em;
  }
  img {
    height: 480px;
    margin: auto;
    filter: drop-shadow(12px 8px 12px #000000b0);
    @media screen and (max-width: 900px) {
      height: auto;
      width: clamp(180px, 50%, 400px);
    }
  }
  .photoGiftHolder {
    display: flex;
    justify-content: end;
  }
}
button {
  margin-left: auto;
  margin-right: auto;
}
