@use "../../assets/variables.scss" as *;
.video-player {
  height: 1080px;
  margin: auto;
  margin-top: 0;
  z-index: 1;
  filter: brightness(20%);
  position: absolute;
  left: calc(50% - 1px);
  top: calc(0% - 200px);
  transform: translate(-50%, 0);
  object-fit: cover;
  width: clamp(320px, 100vw, 1920px);
}

.subTextOnVideo {
  z-index: 5;
  color: white;
  top: 460px;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
  font-family: "Intro Condensed", sans-serif;
  font-weight: 1000;
  text-transform: uppercase;
  span {
    color: $primary-color;
  }
  margin-top: (-100px, -10vw, 0px);
}
.horizontalSeparator {
  width: 80px;
  height: 4px;
  border-radius: 14px;
  background-color: $secondary-color;
  margin: 12px auto 40px auto;
}
p,
button,
span {
  font-size: 1.2em;
}
p,
button {
  font-weight: 300;
}

.horizontalSeparatorVer2 {
  width: 80px;
  height: 4px;
  border-radius: 14px;
  background-color: $secondary-color;
  margin: 40px 0 40px 0;
  @media screen and (max-width: 1200px) {
    margin: 30px 0 30px 0;
  }
  @media screen and (max-width: 720px) {
    margin: 16px 0 16px 0;
  }
  @media screen and (max-width: 400px) {
    margin: 12px 0 12px 0;
  }
}
.contentContainer {
  margin-top: 820px;
  h2 {
    font-size: 2em;
  }
}

.authorContainer {
  position: fixed;
  width: 120px;
  height: 32px;
  right: 12px;
  bottom: 12px;
  z-index: 999;
  background: white;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px $primary-color solid;
  backdrop-filter: blur(20px); 
  border-radius: 16px 0 16px 0;
}
