@use "./variables.scss" as *;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(241, 241, 241);
  font-size: 1.2rem;
  font-family: Intro, sans-serif;
}
#root {
  width: clamp(200px, 100vw, 1920px);
  margin: auto;
}
@media screen and (max-width: 760px) {
  body {
    font-size: 0.95rem;
  }
}
@media screen and (max-width: 470px) {
  body {
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 400px) {
  body {
    font-size: 0.6rem;
  }
}
.pinkTextSpan {
  color: $primary-color;
}
button {
  border: none;
  border-radius: 16px 0 16px 0;
  color: white;
  cursor: pointer;
  margin-top: 24px;
  background: $primary-color;
  padding: 0.8em 3em 0.8em 3em;
  transition: all 0.2s ease-in-out;
  &:hover {
    background: $secondary-color;
    filter: drop-shadow(0 0 16px $secondary-color);
  }
}

h2 {
  font-size: 2em;
}
