h1,
h2,
p {
  text-align: center;
  align-self: center;
  margin: auto;
  width: clamp(160px, 70vw, 1080px);
}
h2 {
  margin-bottom: 1em;
}
.categoriesWrapper {
  border-radius: 456% 212% 2% 0%/40% 19% 0% 0%;
  width: clamp(200px, 100vw, 1920px);
  background-image: url("../../public/Other/BluredBg_ver1.jpg");
  background-size: cover;
  background-position: center;
  height: clamp(54px, 100vw, auto);
  margin: auto;
  margin-top: -100px;
  > div {
    padding-top: 100px;
  }
}
.categoriesHolder {
  width: fit-content;
}
.categoryContainer {
  font-family: "Montserrat", sans-serif;
  font-size: 0.6em;
  text-align: center;
  width: fit-content;
  div {
    width: fit-content;
  }
  img {
    filter: hue-rotate(25deg);
    transition: all 0.2 ease-in-out;
    z-index: 1;
  }
  &:hover {
    img {
      filter: drop-shadow(1px 1px 20px #90ff4a);
    }
  }
}
.flexContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}
